* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }

  body {
    margin: 0;
    background-color: white;
  }

  .register-form {
    width: 300px;
    background-color: #EEEFF1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
  }

  #id {
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #nickname {
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #pwd {
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #repwd {
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #major{
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #selected_major{
    font-size: 14px;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #registerBtn {
    font-size: 14px;
    background-color: #095D3D;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    text-align: center;
  }