<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Todolist 추가 페이지</title>
</head>

<body>
  <form method="post">
    <fieldset>
      <table>
        <tr>
          <td><label>내용</label></td>
          <td><input type="text" name="content" /></td>
        </tr>
      </table>
      <input type="submit" value="추가">
    </fieldset>
  </form>
</body>
</html>