<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>

<body>
    <input id="id" type="text" placeholder="아이디"><br>
    <input id="pwd" type="password" placeholder="비밀번호"><br>
    <p id="button">로그인</p>
    <a href="/register">회원가입</a>
</body>

</html>