<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    
    <script src="/js/home/register.js" defer></script>
    <title>회원가입</title>
</head>

<body>
    <input id="id" type="text" placeholder="아이디"><br>
    <input id="pwd"type="password" placeholder="비밀번호"><br>
    <input id="confirm-pwd"type="password" placeholder="비밀번호 확인"><br>
    <p id="button">회원가입</p>
    <a href="/login">로그인 페이지 이동</a>
</body>

</html>