<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home/todo.css">
    <script src="/js/home/todo.js" defer></script>
</head>

<body>
    <div class="to-do">
        <h1>00:00:00</h1>
        <form class="" action="" method="post">
            <input type="text" placeholder="새로운 할 일" name="todo">
            <button class="todo_plus" type="submit"><b>추가</b></button>
        </form>
        <div class="todolist">
            <ul>
            </ul>
            <a id="clear">모두 삭제</a>
        </div>
    </div>
</body>
</html>