  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- home(todo) -->
      <a class="navbar-brand" href="./todo"><img style="width: 50px;" src="image/logo.png"/></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- static -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              통계
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./static_daily.html">일간</a></li>
              <li><a class="dropdown-item" href="./static_monthly.html">월간</a></li>
              <li><a class="dropdown-item" href="./static_yearly.html">연간</a></li>
            </ul>
          </li>
          <!-- 게시판 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./community">게시판</a>
          </li>
          <!-- 팔로우 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./follow">팔로우</a>
          </li>
          <!-- 로그아웃 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout" style="color: red;" >로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>