<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <title>나의 팔로우</title>

  <style>
    a{
      text-decoration: none;
      color: black;
    }
  </style>
</head>

<body> 
   <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- home(todo) -->
      <a class="navbar-brand" href="/todo"><img style="width: 50px;" src="/image/logo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- static -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              통계
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./static_daily.html">일간</a></li>
              <li><a class="dropdown-item" href="./static_monthly.html">월간</a></li>
              <li><a class="dropdown-item" href="./static_yearly.html">연간</a></li>
            </ul>
          </li>
          <!-- 게시판 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/community">게시판</a>
          </li>
          <!-- 팔로우 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/follow">팔로우</a>
          </li>
          <!-- 마이페이지 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mypage">마이페이지</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- follow list -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">팔로워</th>
        <th scope="col">언팔로우</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function (value) { %>
      <tr>
        <td></td>
        <td><a style="text-decoration: none;" href="/fl_td/<%= value.fl_id %>"><%= value.nickname %></td>
        <td><a href="/fl_delete/<%= value.fl_id %>"><img style="width: 30px;" src="/image/delete.png"/></a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <a href="/fl_recommend"><img style="width: 50px;" src="/image/plus.png"/></a>
  </div>

  <!-- footer -->
  <footer style="color: white; background-color: #095D3D; padding: 15px; position : absolute; bottom : 0; width: 100%;">
    <div>
      <small style="float: left; margin-top: 20px;">협성대학교 16조 졸업작품.</small>
      <div style="text-align: center; float: left; width: 33%; margin-left: 330px;">
        <b>[오늘의 명언]</b>
        <p class="msg"></p>
      </div>
      <a style="float: right; margin-top: 20px;"  href="https://github.com/you-eun-hye/GraduationProject">
        <img style="width: 30px;" src="/image/github.png"/>
      </a>
    </div>
  </footer>
</body>

<script>
  const msg = document.querySelector('.msg');
  var day_msg = new Array(5);
  day_msg[0] = "너 자신을 알라. -소크라테스-";
  day_msg[1] = "인생의 위대한 목표는 지식이 아니라 행동이다. -헉슬리-";
  day_msg[2] = "삶은 호흡하는 것이 아니라 행위를 하는 것이다. -루소-";
  day_msg[3] = "우리의 인생은 우리가 노력한 만큼 가치가 있다. -모리약-";
  day_msg[4] = "사랑하며 가난한 것이 애정없는 부유함보다 훨씬 낫다. -모리스-";
  var random_num = Math.floor(Math.random()*5);
  msg.innerText = (day_msg[random_num]);
</script>
</html>