<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/login.css">
  
  <title>로그인 페이지</title>
</head>

<body>
  <form method="post" class="login-form">
    <input type="text" name="id" id="id" placeholder="아이디" />
    <input type="text" name="pwd" id="pwd" placeholder="비밀번호" />
    <input type="submit" id="submit-btn" value="로그인">
  </form>
  <div class="register">
    <a href="/register">회원가입</a>
  </div>
</body>

</html>