<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="js/register.js" defer></script> -->
  <link rel="stylesheet" href="css/register.css">
  <title>회원가입</title>
</head>

<body>
  <form method="post" class="register-form">
    <input type="text" name="id" id="id" placeholder="아이디" />
    <input type="text" name="pwd" id="pwd" placeholder="비밀번호"/>
    <input id="confirmPwd" type="password" placeholder="비밀번호 확인"><br>
    <input type="submit" id="registerBtn" value="회원가입">
  </form>
</body>

</html>