<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연간 통계</title>

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawVisualization);
		function drawVisualization() { 
			// 연간
			var data_Yearly = google.visualization.arrayToDataTable([
					['Month',      '국어',   '수학',      '영어',      '사회',        '과학',     '종합'],
					['2020',        165,      938,         522,         998,           450,       3073],
					['2021',        135,      1120,        599,         1268,          288,       3410],
					['2022',        157,      1167,        587,         807,           397,       3115]
				]);
			var options_Yearly = {
				title : '연간 통계',
				vAxis: {title: '일단위'},
				hAxis: {title: '연간'}, 
				seriesType: 'bars',
				series: {5: {type: 'line'}},
				width: '100%',
				height: 300
			};
			var chart_Yearly = new google.visualization.ComboChart(document.getElementById('chart_Yearly'));
			chart_Yearly.draw(data_Yearly, options_Yearly);
			window.addEventListener('resize', drawVisualization, false);
		}
	</script>
</head>
<body>
    <!-- navbar -->
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<!-- home(todo) -->
		  <a class="navbar-brand" href="./todo"><img style="width: 50px;" src="image/logo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <!-- static -->
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  통계
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="./static_daily.html">일간</a></li>
					<li><a class="dropdown-item" href="./static_monthly.html">월간</a></li>
					<li><a class="dropdown-item" href="./static_yearly.html">연간</a></li>
				</ul>
			  </li>
			  <!-- 게시판 -->
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="./community">게시판</a>
			  </li>
			  <!-- 팔로우 -->
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="./follow">팔로우</a>
			  </li>
			  <!-- 로그아웃 -->
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/logout" style="color: red;">로그아웃</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

      <div id="chart_Yearly" style="height: 500px;"></div>

  <!-- footer -->
  <footer style="color: white; background-color: #095D3D; padding: 15px; position : absolute; bottom : 0; width: 100%;">
    <div>
      <small>협성대학교 16조 졸업작품.</small>
      <a style="float: right;"  href="https://github.com/you-eun-hye/GraduationProject">
        <img style="width: 30px;" src="image/github.png"/>
      </a>
    </div>
  </footer>
</body>
</html>