<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/edit.css">

  <title>수정 페이지</title>

  <style>
    * {
      box-sizing: border-box;
      font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
      margin: 0;
      background-color: white;
  }
  
  .edit-form {
      width: 300px;
      background-color: #EEEFF1;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      border-radius: 5px;
      padding: 20px;
    }
  
    #td_content {
      font-size: 14px;
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      color: gray;
    }
  
    #submit-btn {
      font-size: 14px;
      background-color: #095D3D;
      color: white;
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      border: none;
      text-align: center;
    }
  </style>
</head>

<body>
  <form method="post" class="edit-form">
      <input type="text" name="td_content" id="td_content" value="<%= td_data.content %>" />
      <input type="submit" id="submit-btn" value="수정하기" />
  </form>
</body>

</html>