<!DOCTYPE html>
<html lang="ko">
<head>
  <!-- 날짜별로 todo페이지 볼 수 있으면 좋을 듯 -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 제이쿼리 -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawVisualization);
  
    function drawVisualization() { 
      var today = new Date();
      var year = today.getFullYear();
      var month = today.getMonth()+1;
      var date = today.getDate();

      var date_1 = date-1;
      var date_2 = date-2;
      var date_3 = date-3;
      var date_4 = date-4;
      var date_5 = date-5;
      var date_6 = date-6;

      var data = google.visualization.arrayToDataTable([
          ['Today',                          '국어',   '수학',      '영어',      '사회',        '과학',   '총합'],
          [year+'년'+month+'월'+date_6+'일',    200,      180,         100,         43,             47,        570],
          [year+'년'+month+'월'+date_5+'일',  180,      300,         60,          57,             65,        662],
          [year+'년'+month+'월'+date_4+'일',  240,      180,         75,          46,             48,        589],
          [year+'년'+month+'월'+date_3+'일',  199,      140,         34,          59,             46,        478],
          [year+'년'+month+'월'+date_2+'일',  142,      120,         60,          64,             53,        439],
          [year+'년'+month+'월'+date_1+'일',  250,      0,           55,          42,             49,        396],
          ['Today: '+year+'년'+month+'월'+date+'일',  183,      120,         34,          67,             65,        469]
        ]);
      var options = {
          title : '일간 통계',
          vAxis: {title: '분단위'},
          hAxis: {title: '일간'}, 
          seriesType: 'bars',
          series: {5: {type: 'line'}}
        };
      
      var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>

  <title>PPT</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- home(todo) -->
      <a class="navbar-brand" href="./todo">PPT</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- static -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              통계
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./static_daily.html">일간</a></li>
              <li><a class="dropdown-item" href="./static_monthly.html">월간</a></li>
              <li><a class="dropdown-item" href="./static_yearly.html">연간</a></li>
            </ul>
          </li>
          <!-- 게시판 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./community">게시판</a>
          </li>
          <!-- 팔로우 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              팔로우
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./follow">팔로워</a></li>
              <li><a class="dropdown-item" href="./fl_list">추천 사용자</a></li>
            </ul>
          </li>
          <!-- 로그아웃 -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout" style="color: red;" >로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 일간 그래프 -->
  <div id="chart_div" style="height: 300px;"></div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">날짜</th>
        <th scope="col">할 일</th>
        <th scope="col">학습 시간</th>
        <th scope="col">타이머</th>
        <th scope="col">수정</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function (value) { %>
      <tr>
        <th scope="row">1</th>
        <td><%= value.td_content %></td>
        <td class="timer">00:00:00</td>
        <td><a href="/timer"><img style="width: 30px;" src="image/timer.png"/></a></td>
        <td><a href="/td_edit/<%= value.td_id %>"><img style="width: 30px;" src="image/pen.png"/></a></td>
        <td><a href="/td_delete/<%= value.td_id %>"><img style="width: 30px;" src="image/delete.png"/></a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <a href="/td_create"><img style="width: 50px;" src="image/plus.png"/></a>
  </div>
</body>

<script type="text/javascript">
  const timer = document.querySelector('.timer');
  $(document).ready(function(){
    let val = location.href.substr(
      location.href.lastIndexOf('=') + 1
    );

    const hours = Math.floor(val/3600);
    const checkMinutes = Math.floor(val/60);
    const minutes = checkMinutes%60;
    const seconds = val%60;

    if(seconds){
      timer.innerText = `${hours < 10 ? `0${hours}`:hours}:${
        minutes < 10 ? `0${minutes}`:minutes}:${
        seconds < 10 ? `0${seconds}`:seconds}`;
    }
    else{
      timer.innerText = "00:00:00";
    }
  })
  window.location.href = "static_daily?seconds="+TIME;
  console.log(timer.innerText);
</script>

</html>